apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
images:
  - name: ghcr.io/kluctl/flux-kluctl-controller
    newName: ghcr.io/kluctl/flux-kluctl-controller
    newTag: v0.1.7
